{% extends 'base.html' %}
{% block title %}
<title>Create Recipe - Scrumptious Recipes</title>
{% endblock title %}





{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">
                Main page
            </a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
