{% extends 'base.html' %}
{% block title %}
    Edit {{recipe.title}} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">
                Main page
            </a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Confirm</button>
        </form>

    </main>
{% endblock content %}
