{% extends 'base.html' %}
{% block title %}
  Scrumptious Recipes
{% endblock title %}

  {% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main page</a>

      {% if user.is_authenticated %}
      Hello, {{ user.username }}
      <a href="{% url 'create_recipe' %}">Create a Recipe</a>
      <A href="{% url 'my_recipe_list' %}">My Recipes</A>
      <a href="{% url 'logout_view' %}">Logout</a>
      {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
  </header>
  <main>
    <h1>{{recipe_object.title}}</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="grid-iron">
      {% for recipe in recipe_list %}
        <div>
            <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>

            </h3>
            <p>{{ recipe.created_on | date:"F j Y"}}</p>
            <img src="{{recipe.picture}}">
            <div>4.3 stars</div>
        </div>
      {% endfor %}
    </div>
  </main>
  {% endblock content %}
